.masthead {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.card {
    border: 7px solid green;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.card h1{
    color: green;
}

.card svg {
    fill: green;
}
