.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.payment-options {
    margin-top: 20px;
}

button {
    background-color: #f4623a;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin: 5px auto;
    padding: 10px 20px;
    transition: background-color 0.3s;
    width: 200px;
}

button:hover {
    background-color: #f4623a;
}

.credit-card {
    background-color: #f4623a;
}

.debit-card {
    background-color: #f4623a;
}

.cash {
    background-color: #f4623a;
}
